{% extends "templates/pages/base.html" %}

{% block content %}
<div class="container d-flex flex-column">
  <h2 class="mt-6">Report of overdue books</h2>

  <div class="container text-right">
    <a href="../me.html" class="btn btn-info">Back to Home</a>
  </div>

  <table class="table">
    <tr>
      <th>Member Name</th>
      <th>Book Name</th>
      <th>Loan Date</th>
      <th>Return Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.member }}</td>
      <td>{{ loan.book }}</td>
      <td>{{ loan.loan_date }}</td>
      <td>{{ loan.return_date }}</td>

      <td>
       
      </td>
    </tr>
    {% endfor %}
  </table>

</div>


{% endblock %}
